= bootstrap_form_for(@provider,  url: {action: "create"}, inline_errors: true) do |f|
  = f.text_field :name, label_class: 'required'
  = f.text_area :text, size: "20x10"
  = f.submit @provider.id ? "Save" : "Create"
