= bootstrap_form_for(@comment, url: add_comment_snippet_path(@snippet), inline_errors: true) do |f|
  = f.text_area :text, size: "20x5", placeholder: "Leave a comment", hide_label: true
  = f.submit "Add comment"
